---
layout: default
title: YaoKai's Blog
---

<div id="home">
	<div id="latest">
		<h2>Latest Blogs</h2>
		<hr />
		<ul>
			{% for post in site.posts limit:6 %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				<h2>
					<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				<p>{{ post.excerpt }}</p>
			</li>
			{% endfor %}
		</ul>
	</div>

	{% include categories.html %}

	<div id="more">
		<a href="/post_lists/total_list.html">more posts</a>
	</div>
</div>
